.Header{
    height: auto;
    border:  1px solid red;
    display:flex;
    justify-content: space-between;
    padding-left: 50px;
        button{
            height: auto;
        }
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
}