// style={{ display: 'flex', flexDirection: 'column', width: '100%', height: '100%' }}>

// history" style={{ display: 'flex', flexDirection: 'column', width: '100%', height: '90%' }} >

// <input style={{ width: '100%', height: '10%' }} 


.chat{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.history{
    padding-bottom: 20px;
    overflow: auto;
    margin-top: 10px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 73%;
    gap: 15px;
    
}

#input{
    box-shadow: 0px 0px 10px 20px rgba(46, 250, 0, 0.366);
    background-color: rgba(46, 250, 0, 0.738);
    align-self: center;
    margin-top: 550px;
    width: 70%;
    height: 10%;
    position: absolute;
}

.msg{
    align-self: flex-end;
    width: fit-content;
    display: flex;
    padding: 5px;
    margin-left: 10px;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(46, 250, 0, 0.738);
    background-color: rgba(46, 250, 0, 0.738);
}

.myMessage{
    align-self: flex-start;
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px bisque;
}